@import "tailwindcss";
:root {
  /* FONT */
  --font-sans: "Inter", system-ui, sans-serif;

  /* COLORS */
  --color-bg-default: #ffffff;
  --color-bg-sidebar: #f3f3f3;
  --color-bg-muted: #ebebeb;
  --color-bg-subtle: #f9f9f9;
  --color-border: #d9d9d9;
  --color-primary: #0f6de9;
  --color-primary-hover: #1e40af;
  --color-secondary: #e30000;
  --color-status-pending: #ffaf2f;
  --color-status-success: #0ea700;
  --color-status-error: #e30000;
  --color-text: #111827;
  --color-text-muted: #3a4152;
  --color-text-secondary: #474858;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-text);
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

.animate-shake {
  animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes slideDownFade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slideDownFade 0.2s ease-out forwards;
}
